.card{
    border: none;
    background-color: var(--color-bg-secondary);
    border-radius: 20px;
    padding: 1em;
    color: white;
    text-align: center;
    
}
.nombre {
    font-size: 1.15em;
    font-weight: 800;
    margin: 0;
}
.card a.linkedIn {
    color: var(--color-secondary);
}
.card a.linkedIn:hover{
    color: var(--color-primary);
}