.card {
    position: relative;
    background-color: transparent;
}
.card.dest {
    border-color: var(--color-secondary);   
}
.card .btn {
    padding: .2em .5em;
    margin: 3px;
    border-radius: 8px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    width: 35px;
    border: 0;
}

.card button:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}
.imagen{
    border-radius: 3px 0 0 3px;
}
.nombre {
    display: flex;
    padding: 10px 0;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
}
.texto{
    color: white;
}

.precio {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

.stock {
    font-size: .8em;
    padding: 5px 0;
    margin: 0;
    color: var(--color-secondary);
}

.fav {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
}

.error {
    font-size: 1.5em;
    text-align: center;
    padding: 60px; 
}

.destacado{
    position: absolute;
    left: 19px;
    font-size: .8em;
    background-color: var(--color-primary);
    font-weight: 700;
    padding: 3px 7px 3px 23px;
    border-radius: 3px;
    letter-spacing: .2em;
    top: 20px;
}

.cantidadContainer {
    margin-bottom: 10px;
}

.cantidad {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 10px;
    color: var(--color-secondary);
    width: 50px;
    text-align: center;
    display: inline-block;
}

.productImage {
    max-width: 200px;
}

@media (max-width: 1024px) {
    .imagen {
            border-radius: 3px 3px 0 0;
        }
}
