.card {
    position: relative;
    background-color: transparent;
}
.card.dest {
    border-color: #FFCC00;
}
.card .btn {
    padding: .2em .5em;
    margin: 3px;
    border-radius: 8px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    width: 35px;
    border: 0;
}

.card button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.imagen{
    border-radius: 3px 0 0 3px;
}
.nombre {
    display: flex;
    padding: 10px 0;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
}
.texto{
    color: white;
}

.precio {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

.stock {
    font-size: .8em;
    padding: 5px 0;
    margin: 0;
    color: var(--color-secondary);
}

.fav {
    cursor: pointer;
    position: absolute;
    right: 10px;
    border: solid 2px;
    border-radius: 12px;
    background-color: white;
    color: black;
}

.error {
    font-size: 1.5em;
    text-align: center;
    padding: 60px; 
}

.destacado{
    position: absolute;
    left: 10px;
    font-size: 1.5em;
}

.cantidadContainer {
    margin-bottom: 10px;
}

.cantidad {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 10px;
    color: var(--color-secondary);
    width: 30px;
    text-align: center;
    display: inline-block;
}

.productImage {
    max-width: 200px;
}

@media (max-width: 1024px) {
    .imagen {
            border-radius: 3px 3px 0 0;
        }
}
