.titulo {
    text-align: center;
}

.titulo:after {
    margin-left: auto;
    margin-right: auto;
}

.formregistro label {
    display: block;
    margin: .2em 0;
    font-weight: 600;
    color: #ccc;
}