.header{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-primary);
    padding: 10px;
    color: white;
}
.logo{
    max-width: 200px;
}
.nav{
    display: flex;
    gap: 10px;
}
.nav a {
    padding: 10px !important;
    border: solid 2px white;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: all .5s;
}
.nav a:hover{
    background-color: var(--color-accent);
}

.cartIcon{
    position: relative;
    font-size: 1.5em;   
}
.cartIcon svg{
    color: white;
    width: 1.2em;
    height: 1.2em;
}
.total{
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: white;
    color: black;
    width:20px;
    height:20px;
    text-align: center;
    border-radius:999px;
    font-weight: 600;
    font-size: .58em;
}