.header{
    display: flex;
    justify-content: flex-end;
    /*background-color: var(--color-primary);*/
    padding: 10px;
    color: white;
}
.logo{
    max-width: 200px;
    padding-top: 10px;
}
.nav {
    display: block;
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.nav:hover{
    color: white;
}

.cartIcon{
    position: relative;
    font-size: 1.5em;   
}

.cartIcon img{
    filter: invert(1) brightness(2);
    width: 1em;
    height: 1em;
}
.total{
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: white;
    color: black;
    width:20px;
    height:20px;
    text-align: center;
    border-radius:999px;
    font-weight: 600;
    font-size: .58em;
}



.navbarNav {
    flex-wrap: nowrap;
}
@media (max-width: 991.98px) {
    .togglerFixed {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1030;
    }
    .nav{
        font-size: 1.2em;
    }
    .cartIcon {
        margin-left: 5px;
        align-items: center;
    }
}