.card {
    border: solid 6px #ccc;
    padding: 1em;
    margin: .5em;
    border-radius: 16px; 
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.card button{
    padding: .2em .5em;
    margin: 3px;
    border-radius: 8px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    
}
 
.card button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.nombre{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    font-size: 1.4em;
    font-weight: 600;
}
.precio{
    color: #606060;
    font-size: 1.2em;
    font-weight: 600;
}
.stock{
    font-size: .8em;
    padding: 5px 0;
}
.fav{
    cursor: pointer;
}
.cantidad{
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 10px;
    color: var(--color-accent);
    width: 30px;
    text-align: center;
    display: inline-block;
}
.productImage{
    max-width: 200px;
}