.productos{
    padding: 2em;
}
.productos ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style: none;
}
.productos ul li{
    border: solid 3px #c3c3c3;
    border-radius: 20px;
    background-color: white;
    padding: 2em;
}
.message{
    padding: 2em;
}