
.gestionTable {
    border: solid 1px var(--color-secondary);
    margin: 0 auto;
    color: var(--color-secondary);
}

.gestionTable td {
    padding: 3px 12px;
    border: solid 1px;
}
.gestionTable th {
    padding: 3px 12px;
    text-align: center;
    color: var(--color-primary);
   
}

.subtitulo{
    text-align: center;
    margin: 30px;
    font-weight: 600;
    color: #ccc;
}
hr{
    color: white;
}