body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.page-title{
    padding: 1em 0;
    font-weight: 800;
    color: white;
    font-size: 2em;
}
.page-title::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: var(--color-primary);
    margin-top: 8px;
    border-radius: 2px;
}
.btn{
transition: all 0.2s ease;
font-weight: 600;
&:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.btn-primary{
    background-color: var(--color-primary);
    color: black;
    &:hover{
        background-color: var(--color-primary);
        color: black;
    }
}

.card-title {
    font-weight: 700;
}

footer {
    background-color: var(--color-secondary);
}
.linkCarrito {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.linkCarrito span.nav-link {
    padding-right: 5px !important;
}

.navbar-nav .nav-link.active {
    color: var(--color-primary) !important;
}



@media (min-width: 1025px) {/* Desktop only*/

    header {
        border-bottom: solid 1px;
    }
    header .navbar-nav {
        width: 98%;
        justify-content: flex-end;
        gap: 4em;
    }

}


@media (max-width: 1024px) {
    .nav-link {
        text-align: center;
        font-size: 1.3em;
    }
    .linkCarrito{
        align-items: center;
    }
    .linkCarrito span.nav-link {
        padding-right: 0 !important;
    }
}


 