* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --color-primary: #00C2FF;
  --color-secondary: #5d8ea5;
  --color-accent: #f16cc0;
  --color-highlight: #b9468f;
  --color-bg: #080D1A;
  --color-bg-secondary: #0E1526;
}



h1,
h2,
h3,
p {
  color: black;
  font-size: 16px;
}

 #root{
  background-color: var(--color-bg);
}
main{
  margin-bottom: 30px;
 
}